.nav-div {
    width: 10vw;
    position: fixed;
    z-index: 1;
    top: 160px;
    left: 0;
    overflow-x: hidden;
    /* padding: 8px 0; */
     /* background-color: gray; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 60px; */
    text-align: center;
    /* background-color: gray; */

}

.selected{
    color:rgba(0, 0, 0, 0.3);
}


li{
    font-weight:500; 
    font-size:2.0em;
    margin-top:50px;
}

/* Portrait */

/* Landscape */
@media screen 
and (min-device-width : 568px) 
and (max-device-width : 823px)
and (orientation: landscape) {
    /* Landscape styles */
    .nav-div{
        /* background-color: red; */
        padding: 0;
        top:-100px;
        margin-top:-150px;
    }
}




@media(max-width: 992px){
    .nav-div {
        /* width: 80px; */

        top: 150px;


    }


    li{
        font-size:1.8em;
    }

}